plotly==5.14.1
dash==2.9.3
MonthDelta==0.9.1
icalendar==5.0.5
recurring_ical_events==2.0.2
patch==1.16
gunicorn==20.1.0
PyMySQL==1.0.3
requests==2.30.0
Flask==2.3.2
dash_table==5.0.0
pandas==2.0.1
pytz==2023.3